.card{
    height: 100%;
    width: 100%;
    
    /* background-color: transparent; */
}
.card .card-content {
    padding: .5em;
}

.card .card-action {
    padding: .5em;
}

.card-image{
    height: 100%;
    width: 100%;
}
img{
    height: 100%;
    width: 100%;
    /* border-radius: 50% !important;
    background-color: transparent; */
} 
.circle{
    
    border-radius: 50% !important;
}
.card-container{
    align-items: center;
}

@media only screen and (min-width: 601px)
.row .col.m6 {

}